body {
    font-family: sans-serif;
}

header{
    background-image:url("https://mail.google.com/mail/u/0?ui=2&ik=9ff8c8e2ef&attid=0.2&permmsgid=msg-f:1727188478404371341&th=17f834c52370a38d&view=att&disp=safe&realattid=17f834bb8f38df00c4a4");
    height:100px
}
h1{
    font-size:50px;
    text-align:center;
    padding:50px;
    color:pink;
}
.link-nav{
    background-color: greenyellow;
    text-decoration: none;
    height: 40px;
    width: 120px;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
.link-nav:hover{
    background-image: linear-gradient(yellow, green);
}

main{
    background-image: linear-gradient(darkblue, blue);
    color: blueviolet;
   

}

footer{
    background-image: linear-gradient(orange, skyblue);
    font-size: 18px;
    height: 100px;
}

header img{
    width: 250px;
    height: 250px;
}
